.app {
  background-color: rgb(241, 242, 246);
}
.app__wrapper {
  max-width: 1217px;
  height: auto;
  margin: 0 auto;
  margin-top: 24px;
}

.app__wrapperInner {
  max-width: 1080px;
  height: auto;
  margin: 0 auto;
  margin-top: -27px;
  margin-right: 60px;
}

.app__wrapperInner > p {
  margin-top: 18px;
  font-size: 0.8rem;
}
